<table>
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Patients)
        {
            <tr>
                <td>
                    <a asp-page="/patient" asp-route-patientID="@p.Id">
                        More details
                    </a>
                </td>
                <td>@p.Id</td>
                <td>@p.firstName</td>
                <td>@p.lastName</td>
                <td>@p.DOB</td>
            </tr>                        
        }
    </tbody>
</table>