@page "/create"
@model HospRec.Pages.createPatientModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Hospital Project" />
    <meta name="Keywords" content="JS, CSS, HTML" />
    <meta name="author" content="Group 8" />
    <title>Add Patient</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <!-- body contents -->
        <form id="regForm" method="post" action="" novalidate="novalidate">
            <fieldset>
                <legend>Patient Details</legend>
                <p>
                    <!-- textInput first name -->
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" size="15" required="required" />
                </p>
                <p>
                    <!-- textInput last name -->
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" size="15" required="required" />
                </p>
                <p>
                    <!-- textInput phone number -->
                    <label for="phoneNum">Phone Number</label>
                    <input type="text" name="phoneNum" id="phoneNum" pattern="[0-9]{10}" placeholder="1234567890" required="required" />
                </p>
                <p>
                    <!-- textInput email -->
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required="required" />
                </p>
                <p>
                    <!-- Gender-->
                    <label for="gender">Choose your gender:</label>
                    <select name="gender" id="gender">
                        <option value="">-Select Gender-</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </p>
                <p>
                    <!-- date of birth -->
                    <label for="DOB">DOB</label>
                    <input type="date" name="DOB" id="DOB" />
                </p>
            </fieldset><br>
            <input type="submit" value="Create" />
            <input type="reset" value="Reset Form" id="reset" />
        </form>
    </div>
    <p>@Model.firstName</p>
    <p>@Model.lastname</p>
    <p>@Model.email</p>
    <p>@Model.phNum</p>
    <p>@Model.gender</p>
    <p>@Model.DOB</p>
</body>
</html>