@page "/patient/{patientID}"
@model HospRec.Pages.PatientModel
@{
}
<h3>Patient Details</h3>
<div class="grid_container_parent margin">
    <div class="flex_container_child no_hover">
        <div class="grid_item01">ID:</div>
        <div class="grid_item01">@Model.p.PatientID</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">First Name:</div>
        <div class="grid_item01">@Model.p.FirstName</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Last Name:</div>
        <div class="grid_item01">@Model.p.LastName</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Ph number:</div>
        <div class="grid_item01">@Model.p.PhNumber</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Email:</div>
        <div class="grid_item01">@Model.p.Email</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">DOB:</div>
        <div class="grid_item01">@Model.p.DOB</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Gender: </div>
        <div class="grid_item01">@Model.p.Gender</div>
    </div>


</div>
<h3>Edit Patient Details</h3>
<div>
    <!-- body contents -->
    <form id="regForm" method="post" action="" novalidate="novalidate">
        <fieldset>
            <legend>Patient Details</legend>
            <p>
                <!-- textInput first name -->
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" size="15" required="required" value="@Model.p.FirstName"/>
            </p>
            <p>
                <!-- textInput last name -->
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" size="15" required="required" value="@Model.p.LastName"/>
            </p>
            <p>
                <!-- textInput phone number -->
                <label for="phoneNum">Phone Number</label>
                <input type="text" name="phoneNum" id="phoneNum" pattern="[0-9]{10}" placeholder="+61" required="required" value="@Model.p.PhNumber"/>
            </p>
            <p>
                <!-- textInput email -->
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required="required" value="@Model.p.Email"/>
            </p>
            <p>
                <!-- Gender-->
                <label for="gender">Choose your gender:</label>
                <select name="gender" id="gender">
                    <option value="">-Select Gender-</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </p>
            <p>
                <!-- date of birth -->
                <label for="DOB">DOB</label>
                <input type="date" name="DOB" id="DOB" value="@Model.p.DOB"/>
            </p>
        </fieldset><br>
        <input type="submit" value="Edit Entry" />
        <input type="reset" value="Reset Form" id="reset"/>
    </form>
    <p>@Model.firstName</p>
</div>
<h3>Patient records</h3>