@page "/patient/{patientID}"
@model HospRec.Pages.PatientModel
@{
}
<h3 style="margin-top: 20px;">Patient Details</h3>
<div class="grid_container_parent margin">
    <div class="flex_container_child no_hover">
        <div class="grid_item">ID:</div>
        <div class="grid_item">@Model.Patient.Id</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item">First Name:</div>
        <div class="grid_item">@Model.Patient.firstName</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item">Last Name:</div>
        <div class="grid_item">@Model.Patient.lastName</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item">Ph number:</div>
        <div class="grid_item">@Model.Patient.phoneNumber</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item">Email:</div>
        <div class="grid_item">@Model.Patient.email</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item">Gender: </div>
        <div class="grid_item">@Model.Patient.gender</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item">DOB:</div>
        <div class="grid_item">@Model.Patient.DOB</div>
    </div>
</div>
<h3>Edit Patient Details</h3>
<div>
    <!-- body contents -->
    <form id="regForm" method="post" novalidate="novalidate">
        <fieldset>
            <legend>Patient Details</legend>
            <p>
                <!-- textInput first name -->
                <label for="Patient_firstName">First Name</label>
                <input asp-for="Patient.firstName"/>
                <span asp-validation-for="Patient.firstName" class="text-danger"></span>
            </p>
            <p>
                <!-- textInput last name -->
                <label for="Patient_lastName">Last Name</label>
                <input asp-for="Patient.lastName"/>
                <span asp-validation-for="Patient.lastName" class="text-danger"></span>
            </p>
            <p>
                <!-- textInput phone number -->
                <label for="Patient_phoneNumber">Phone Number</label>
                <input asp-for="Patient.phoneNumber" placeholder="1234567890"/>
                <span asp-validation-for="Patient.phoneNumber" class="text-danger"></span>
            </p>
            <p>
                <!-- textInput email -->
                <label for="Patient_email">Email</label>
                <input asp-for="Patient.email" placeholder="example@mail.com"/>
                <span asp-validation-for="Patient.email" class="text-danger"></span>
            </p>
            <p>
                <!-- Gender-->
                <label for="Patient_gender">Gender</label>
                <select asp-for="Patient.gender">
                    @switch (Model.Patient.gender)
                    {
                        case 'M':
                            <option value="-">-Select Gender-</option>
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                            break;
                        case 'F':
                            <option value="-">-Select Gender-</option>
                            <option value="M">Male</option>
                            <option value="F" selected>Female</option>
                            <option value="O">Other</option>
                            break;
                        case 'O':
                            <option value="-">-Select Gender-</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O" selected>Other</option>
                            break;
                        default:
                            break;
                    }
                </select>
            </p>
            <p>
                <!-- date of birth -->
                <label for="Patient_DOB">DOB</label>
                <input asp-for="Patient.DOB" value="@Model.Patient.DOB"/>
                <span asp-validation-for="Patient.DOB" class="text-danger" ></span>
            </p>
        </fieldset><br>
        <input type="submit" value="Edit Entry" class="btn btn-submit"/> 
        <input type="reset" value="Reset Form" class="btn"/>
    </form>
</div>

<!-- Patient Record History -->
<h3 style="margin-top: 20px; margin-bottom: 20px;">Patient records</h3>
<div class="grid_container_parent">
    <!-- Column titles-->
    <div class="flex_container_child no_hover">
        <div class="grid_item"><b>ID</b></div>
        <div class="grid_item"><b>Doctor ID</b></div>
        <div class="grid_item"><b>Date</b></div>
        <div class="grid_item"><b>Symptoms</b></div>
        <div class="grid_item"><b>Diagnosis</b></div>
        <div class="grid_item"><b>Medication</b></div>
    </div>
    <!-- Resulting Rows -->
    @foreach ( var record in Model.PatientRecords)
    {
        <a asp-page="/editPatientRecord" asp-route-patientRecordID="@record.Record_ID">
            <div class="flex_container_child">
                <div class="grid_item">@record.Record_ID</div>
                <div class="grid_item">@record.Doctor_ID</div>
                <div class="grid_item">@record.Date</div>
                <div class="grid_item">@record.Symptoms</div>
                <div class="grid_item">@record.Diagnosis</div>
                <div class="grid_item">@record.Medication</div>
            </div>
        </a>
    }
</div>
