@page "/patient/{patientID}"
@model HospRec.Pages.PatientModel
@{
}
<h3>Patient Details</h3>
<div class="grid_container_parent margin">
    <div class="flex_container_child no_hover">
        <div class="grid_item01">ID:</div>
        <div class="grid_item01">@Model.Patient.Id</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">First Name:</div>
        <div class="grid_item01">@Model.Patient.firstName</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Last Name:</div>
        <div class="grid_item01">@Model.Patient.lastName</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Ph number:</div>
        <div class="grid_item01">@Model.Patient.phoneNumber</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Email:</div>
        <div class="grid_item01">@Model.Patient.email</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">Gender: </div>
        <div class="grid_item01">@Model.Patient.gender</div>
    </div>
    <div class="flex_container_child no_hover">
        <div class="grid_item01">DOB:</div>
        <div class="grid_item01">@Model.Patient.DOB</div>
    </div>


</div>
<h3>Edit Patient Details</h3>
<div>
    <!-- body contents -->
    <form id="regForm" method="post" action="" novalidate="novalidate">
        <fieldset>
            <legend>Patient Details</legend>
            <p>
                <!-- textInput first name -->
                <label for="firstName">First Name</label>
                <input asp-for="Patient.firstName"/>
                <span asp-validation-for="Patient.firstName" class="text-danger"></span>
            </p>
            <p>
                <!-- textInput last name -->
                <label for="lastName">Last Name</label>
                <input asp-for="Patient.lastName"/>
                <span asp-validation-for="Patient.lastName" class="text-danger"></span>
            </p>
            <p>
                <!-- textInput phone number -->
                <label for="phoneNumber">Phone Number</label>
                <input asp-for="Patient.phoneNumber" placeholder="1234567890"/>
                <span asp-validation-for="Patient.phoneNumber" class="text-danger"></span>
            </p>
            <p>
                <!-- textInput email -->
                <label for="email">Email</label>
                <input asp-for="Patient.email" placeholder="example@mail.com"/>
                <span asp-validation-for="Patient.email" class="text-danger"></span>
            </p>
            <p>
                <!-- Gender-->
                <label for="gender">Choose your gender:</label>
                <select asp-for="Patient.gender">
                    @switch (Model.Patient.gender)
                    {
                        case 'M':
                            <option value="-">-Select Gender-</option>
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                            break;
                        case 'F':
                            <option value="-">-Select Gender-</option>
                            <option value="M">Male</option>
                            <option value="F" selected>Female</option>
                            <option value="O">Other</option>
                            break;
                        case 'O':
                            <option value="-">-Select Gender-</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O" selected>Other</option>
                            break;
                        default:
                            break;
                    }
                </select>
            </p>
            <p>
                <!-- date of birth -->
                <label for="DOB">DOB</label>
                <input asp-for="Patient.DOB" />
                <span asp-validation-for="Patient.DOB" class="text-danger"></span>
            </p>
        </fieldset><br>
        <input type="submit" value="Edit Entry" />
        <input type="reset" value="Reset Form" id="reset"/>
    </form>
</div>
<h3>Patient records</h3>