@page "/patient/{patientID}"
@model HospRec.Pages.PatientModel
@{
    ViewData["Title"] = "Patient Info";
}
<div class="info-container">
    <div class="main content content-form">
        <form id="regForm" method="post" novalidate="novalidate">
            <fieldset>
                <legend>Patient Details</legend>
                <!-- textInput first name -->
                <label for="Patient_firstName">First Name</label>
                <input asp-for="Patient.firstName"/>
                <span asp-validation-for="Patient.firstName" class="text-danger"></span>
                <!-- textInput last name -->
                <label for="Patient_lastName">Last Name</label>
                <input asp-for="Patient.lastName"/>
                <span asp-validation-for="Patient.lastName" class="text-danger"></span>
                <!-- textInput phone number -->
                <label for="Patient_phoneNumber">Phone Number</label>
                <input asp-for="Patient.phoneNumber" placeholder="1234567890"/>
                <span asp-validation-for="Patient.phoneNumber" class="text-danger"></span>
                <!-- textInput email -->
                <label for="Patient_email">Email</label>
                <input asp-for="Patient.email" placeholder="example@mail.com"/>
                <span asp-validation-for="Patient.email" class="text-danger"></span>
                <!-- Gender-->
                <label for="Patient_gender">Gender</label>
                <select asp-for="Patient.gender">
                    @switch (Model.Patient.gender)
                    {
                        case 'M':
                            <option value="-">-Select Gender-</option>
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                            break;
                        case 'F':
                            <option value="-">-Select Gender-</option>
                            <option value="M">Male</option>
                            <option value="F" selected>Female</option>
                            <option value="O">Other</option>
                            break;
                        case 'O':
                            <option value="-">-Select Gender-</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O" selected>Other</option>
                            break;
                        default:
                            break;
                    }
                </select>
                <!-- date of birth -->
                <label for="Patient_DOB">DOB</label>
                <input asp-for="Patient.DOB" value="@Model.Patient.DOB"/>
                <span asp-validation-for="Patient.DOB" class="text-danger" ></span>
            </fieldset><br>
            <input type="hidden" id="div_position" name="div_position" />
            <input type="submit" id="submit" value="Edit Entry" class="btn btn-submit"/> 
            <input type="reset" value="Reset Form" class="btn"/>
        </form>
    </div>
    <div class="second content">
        <div class="content-message">
            <p>Currrent Doctor In Charge</p>
            <section>
            </section>
        </div>
    </div>
    <div class="third content content-table">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Record ID</th>                    
                    <th>Doctor ID</th>
                    <th>Date</th>
                    <th>Symptoms</th>
                    <th>Diagnosis</th>
                    <th>Medication</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.PatientRecords)
                {
                    <tr>
                        <td>
                            <a asp-page="/editPatientRecord" asp-route-patientRecordID="@record.Record_ID">
                                More details
                            </a>
                        </td>
                        <td>@record.Record_ID</td>
                        <td>@record.Doctor_ID</td>
                        <td>@record.Date</td>
                        <td>@record.Symptoms</td>
                        <td>@record.Diagnosis</td>
                        <td>@record.Medication</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

