@page "/search"
@model HospRec.Pages.searchPatientModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Hospital Project" />
    <meta name="Keywords" content="JS, CSS, HTML" />
    <meta name="author" content="Group 8" />
    <title>Search Patient</title>
</head>
<body>
        <div>
            <form method="post">
                <strong>Search by:</strong> 
                <p>
                    <!-- textInput Id -->
                    <label for="Id">ID</label>
                    <input asp-for="Id"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                    <br>
                    <!-- textInput first name -->
                    <label for="firstName">First Name</label>
                    <input asp-for="firstName"/>
                    <span asp-validation-for="firstName" class="text-danger"></span>
                    <br>
                    <!-- textInput last name -->
                    <label for="lastName">Last Name</label>
                    <input asp-for="lastName"/>
                    <span asp-validation-for="lastName" class="text-danger"></span>
                    <br>
                    <!-- date of birth -->
                    <label for="DOB">DOB</label>
                    <input asp-for="DOB" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </p>
                    <input type="submit" value="Search" />
                    <input type="reset" value="Reset Form" id="reset" />
            </form>
            <div class="grid_container_parent">
                <strong class="results_strong">Results</strong>
                <div class="flex_container_child no_hover">
                    <div class="grid_item" ><b>ID</b></div>
                    <div class="grid_item"><b>First Name</b></div>
                    <div class="grid_item"><b>Last Name</b></div>
                    <div class="grid_item"><b>DOB</b></div>
                </div>
                @foreach (var p in Model.Patients) 
                {
                    <a asp-page="/patient" asp-route-patientID="@p.Id">
                        <div class="flex_container_child">
                            <div class="grid_item">@p.Id</div>
                            <div class="grid_item">@p.firstName</div>
                            <div class="grid_item">@p.lastName</div>
                            <div class="grid_item">@p.DOB</div>
                        </div>
                    </a>
                 }
            </div> 
        </div>
</body>
</html>
