@page "/searchPatient"
@model HospRec.Pages.searchPatientModel
@{
}

<div class="grid-col-1-3">
    <div class="side-panel content content-form">
        <form method="post">            
            <fieldset>
                <legend>Search by</legend>
                <!-- textInput Id -->
                <label for="Id">ID</label>
                <input asp-for="Id"/>
                <span asp-validation-for="Id" class="text-danger"></span>
                <!-- textInput first name -->
                <label for="firstName">First Name</label>
                <input asp-for="firstName"/>
                <span asp-validation-for="firstName" class="text-danger"></span>
                <!-- textInput last name -->
                <label for="lastName">Last Name</label>
                <input asp-for="lastName"/>
                <span asp-validation-for="lastName" class="text-danger"></span>
                <!-- date of birth -->
                <label for="DOB">DOB</label>
                <input asp-for="DOB" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </fieldset>
            <input type="reset" value="Clear" class="btn"/>
            <input type="submit" value="Search" class="btn btn-submit float-left"/>
        </form>
    </div>
    @if (Model.Patients.Count != 0) 
    {
        <div class="main-panel content content-table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>DOB</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Patients)
                    {
                        <tr>
                            <td>
                                <a asp-page="/patient" asp-route-patientID="@p.Id">
                                    More details
                                </a>
                            </td>
                            <td>@p.Id</td>
                            <td>@p.firstName</td>
                            <td>@p.lastName</td>
                            <td>@p.DOB</td>
                        </tr>                        
                    }
                </tbody>
            </table>
        </div>
    } else if (Model.Patients.Count == 0) {
        <div class="main-panel content">
            <div class="content-message">
                <p>Results Appear Here</p>
            </div>
        </div>
    }
</div>
